body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#image-container {
    background: lightgray;
}
#about {
    width: 55%;
    margin: 0 auto;
}
#portofo {
    display: flex;
    justify-content: center;
}
.colom {
    width: 20%;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid red;
    box-shadow: 4px 4px 4px grey;
}
.colom img {
    width: 100%;
}
footer a {
    margin-left: 10px;
    margin-right: 10px;
}
footer img {
    width: 30px;
    height: 30px;
}
img {
    height: 250px;
}
.img-hover-zoom--brightness img {
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(65%);
  }
  
  .img-hover-zoom--brightness:hover img {
    filter: brightness(100%);
    transform: scale(1.3);
  }